@import "./variables.scss";

.wrapper {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.section__page {
  padding-top: 116px;
}

.section__block {
  display: block;
  margin-bottom: 80px;
}

.list {
  display: flex;
  gap: 32px;

  li {
    flex: 1;
    flex-basis: $card-basis;
    max-width: $card-basis;
  }
}

.wrapped__list {
  flex-wrap: wrap;
}
