@import "../../../styles/variables.scss";

.input {
  width: 100%;
  padding: 16px 32px;
  font-size: $size-standart;
  color: $color-white;
  font-weight: $weight-medium;
  line-height: 26px;
  background-color: transparent;
  border: 1px solid $color-white;
  border-radius: $radius-small;
  outline: none;

  &::placeholder {
    opacity: 1;
  }
}

.dark__theme {
  border-color: $color-gray;
  color: $color-black;
  background-color: $color-white;

  &::placeholder {
    opacity: 0.5;
  }
}
