@import "../../../styles/variables.scss";

.card {
  cursor: pointer;

  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 16px;
    border-radius: $radius-medium;
  }

  p {
    text-align: center;
    color: $color-black;
    font-size: $size-standart;
    font-weight: $weight-medium;
    line-height: 26px;
    word-wrap: break-word;
  }
}
